html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: white;
}

body {
  background-color: var(--backgorund-color);
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: 'Squada One', cursive;
  font-size: 2.25rem;
  width: 19.375rem;
  height: 4.75rem;
  text-align: center;
  line-height: 2.375rem;
  margin-bottom: 1.625rem;
}

#logo {
  height: 20%;
  margin: 0.5rem 0;
  animation: blur-change 4500ms infinite ease-in-out;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3,
p {
  font-family: 'Squada One', cursive;
  font-size: 1.5rem;
  width: 19.375rem;
  height: 1.5625rem;
  text-align: center;
  line-height: 2.375rem;
  margin-top: 0.5rem;
}

h3 span:nth-child(1) {
  animation: loading-animation 1s infinite;
}

h3 span:nth-child(2) {
  animation: loading-animation 1s infinite;
  animation-delay: 0.3s;
}

h3 span:nth-child(3) {
  animation: loading-animation 1s infinite;
  animation-delay: 0.6s;
}

p {
  margin-bottom: 3rem;
}

.button-legend {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.instagram-button,
.whatsapp-button {
  width: 15rem;
  height: 3.375rem;
  background-color: #fdd14c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Squada One', cursive;
  font-size: 1.35rem;
  border-radius: 0.375rem;
  border: none;
  transition: 300ms ease-in-out;
  color: black;
}

.whatsapp-button {
  background-color: #5bd066;
}

.instagram-button:hover {
  background-color: #e4c567;
}

.whatsapp-button:hover {
  background-color: #56ad5f;
}
.instagram-icon {
  width: 2.3rem;
  height: 2.3rem;
  stroke: black;
  width: 25%;
}
.whatsapp-icon {
  width: 2.3rem;
  height: 2.3rem;
  fill: black;
  width: 25%;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 3rem;
    width: 25rem;
    height: 6.25rem;
  }
  #logo {
    height: 25%;
  }
  h3,
  p {
    font-size: 2rem;
    width: 25rem;
    height: 2.125rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

  .button-legend {
    font-size: 1.5rem;
  }

  .instagram-button,
  .whatsapp-button {
    width: 20rem;
    height: 6rem;
    font-size: 1.6rem;
  }

  .instagram-icon,
  .whatsapp-icon {
    width: 3rem;
    height: 3rem;
    width: 25%;
  }
}

@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 2rem;
    width: 15rem;
    line-height: 2.975rem;
    margin-bottom: 0;
  }

  h3,
  p {
    font-size: 1.3rem;
    width: 30rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 3rem;
  }

  .button-legend {
    font-size: 1rem;
    margin: 0;
  }
  .instagram-button,
  .whatsapp-button {
    width: 15rem;
    height: 3rem;
    font-size: 1.2rem;
  }
  .instagram-icon,
  .whatsapp-icon {
    width: 2rem;
    height: 2rem;
    width: 25%;
  }
}

@media only screen and (min-width: 1920px) {
  h2 {
    font-size: 3.5rem;
    width: 25rem;
    line-height: 2.975rem;
    margin-bottom: 0;
  }

  #logo {
    margin: 2rem 0;
  }

  h3,
  p {
    font-size: 2.3rem;
    width: 30rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 3rem;
  }

  .button-legend {
    font-size: 1.5rem;
    margin: 0;
  }
  .instagram-button,
  .whatsapp-button {
    width: 20rem;
    height: 4rem;
    font-size: 1.6rem;
    margin: 0.5rem;
  }
  .instagram-icon,
  .whatsapp-icon {
    width: 3rem;
    height: 3rem;
    width: 25%;
  }
}

@keyframes blur-change {
  0% {
    filter: drop-shadow(0px 0 0.5px var(--secondary-color));
  }
  50% {
    filter: drop-shadow(0px 0 5px var(--secondary-color));
  }
  100% {
    filter: drop-shadow(0px 0 0.5px var(--secondary-color));
  }
}

@keyframes loading-animation {
  from {
    color: #fff;
  }
  to {
    color: transparent;
  }
}

:root {
  --backgorund-color: #000000;
  --primary-color: #e4435e;
  --secondary-color: #e0bd3e;
  --secondary-gradient-color: #e3435d;
  --tertiary-gradient-color: #e7435d;
}
